@font-face {
    font-family: 'wbce';
    src:
        url('../fonts/wbce.ttf?ypeln0') format('truetype'),
        url('../fonts/wbce.woff?ypeln0') format('woff'),
        url('../fonts/wbce.svg?ypeln0#wbce') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="wbce-"], [class*=" wbce-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wbce' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wbce-logo:before {
    content: "\e900";
}
