.select2-dropdown {
    border-radius: 0;

}

.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    box-shadow: none;
}

.select2-container--bootstrap .select2-results__option[aria-disabled=true] {
    color: lighten($gray, 7.5%);
}