.bakery-general-settings {
  input[type="text"] {
    width: auto;
    display: inline-block;
    margin: 0 3px 0 0;
  }
}

.content-body {
  .mod_bakery_submit_row_b {
    background: transparent;
  }
}