.outputfilter_dashboard {
  .select2-container--disabled {
    .select2-selection__arrow {
      display: none;
    }
  }

  .activity {
    display: inline-block;
    height: 36px;
    line-height: 36px;
  }
}