#stylesheet-switcher {
    font-size: 0;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0;

    li {
        display: inline-block;
        font-size: 0;
        padding: 0 4px 4px;

        a {
            font-size: 0;
            height: 28px;
            width: 28px;
            display: block;
            @include transition(all ease .3s);

            &.olive-green {
                background: $olive-green;

                &:hover {
                    background: darken($olive-green, 10%);
                }
            }

            &.olive-green-night {
                background: darken($olive-green, 10%);

                &:hover {
                    background: darken($olive-green, 15%);
                }
            }

            &.green {
                background: $green;

                &:hover {
                    background: darken($green, 10%);
                }
            }

            &.green-night {
                background: darken($green, 10%);

                &:hover {
                    background: darken($green, 15%);
                }
            }

            &.red {
                background: $red;

                &:hover {
                    background: darken($red, 10%);
                }
            }

            &.red-night {
                background: darken($red, 10%);

                &:hover {
                    background: darken($red, 15%);
                }
            }

            &.blue {
                background: $blue;

                &:hover {
                    background: darken($blue, 10%);
                }
            }

            &.blue-night {
                background: darken($blue, 10%);

                &:hover {
                    background: darken($blue, 15%);
                }
            }

            &.orange {
                background: $orange;

                &:hover {
                    background: darken($orange, 10%);
                }
            }

            &.orange-night {
                background: darken($orange, 10%);

                &:hover {
                    background: darken($orange, 15%);
                }
            }

            &.pink {
                background: $pink;

                &:hover {
                    background: darken($pink, 10%);
                }
            }

            &.pink-night {
                background: darken($pink, 10%);

                &:hover {
                    background: darken($pink, 15%);
                }
            }
        }
    }
}