#stylesheet-switcher {
    font-size: 0;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0;

    li {
        display: inline-block;
        font-size: 0;
        padding: 0 4px 4px;

        a {
            font-size: 0;
            height: 28px;
            width: 28px;
            display: block;

            position: relative;

            span {
                height: 100%;
                position: absolute;
                width: 50%;
                @include transition(background ease .3s);
                left: 0;

                &:last-of-type {
                    background: #E6E6E6;
                    right: 0;
                    left: 50%;
                }
            }

            &:hover {
                span {
                    &:last-of-type {
                        background: darken(#E6E6E6, 10%);
                    }
                }
            }

            &.dark {
                span {
                    &:last-of-type {
                        background: $brand-primary;
                    }
                }

                &:hover {
                    span {
                        &:last-of-type {
                            background: darken($brand-primary, 10%);
                        }
                    }
                }
            }

            &.green {
                span {
                    &:first-of-type {
                        background: $green;
                    }
                }

                &:hover {
                    span {
                        &:first-of-type {
                            background: darken($green, 10%);
                        }
                    }
                }
            }

            &.red {
                span {
                    &:first-of-type {
                        background: $red;
                    }
                }

                &:hover {
                    span {
                        &:first-of-type {
                            background: darken($red, 10%);
                        }
                    }
                }
            }

            &.blue {
                span {
                    &:first-of-type {
                        background: $blue;
                    }
                }

                &:hover {
                    span {
                        &:first-of-type {
                            background: darken($blue, 10%);
                        }
                    }
                }
            }

        }
    }
}