#mediaPage {
    iframe#mediaBrowser {
        width: 100%;
        overflow: hidden;
    }
}

#loginPage {
    .row {
        margin-top: 30px;
    }

    #additionalLogo {
        margin: 10px 0 0 0;

        img {
            max-width: 200px;
            max-height: 100px;
        }
    }
}

#accessPage {
    h5 {
        margin-bottom: 0;
    }
}

#pagesPage {

    #sectionTable {
        td {
            vertical-align: middle;

            &:nth-child(5), &:nth-child(6) {
                white-space: nowrap;
            }
        }
    }

    .section-info {
        margin: 20px 0;
    }

    #pageListPanel {

        #pageListHeader {
            border: 0;
        }

        table {
            margin: 0;

            td, th {
                vertical-align: middle;
                width: 40px;
                text-align: center;

                &.title {
                    width: auto;
                    max-width: 50%;
                    text-align: left;
                }

                &.modify, &.id {
                    width: 80px;
                }

                &.modify {
                    text-align: left;
                }
            }
        }

        ul {
            ul {

                td {
                    padding: 4px 8px;

                    &.toggle {
                        width: 80px;
                        padding-left: 40px;
                    }
                }


                ul {
                    td {
                        &.toggle {
                            width: 120px;
                            padding-left: 80px;
                        }
                    }

                    ul {
                        td {
                            &.toggle {
                                width: 160px;
                                padding-left: 120px;
                            }
                        }

                        ul {
                            td {
                                &.toggle {
                                    width: 200px;
                                    padding-left: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: $screen-sm) {

    #loginPage {
        .row {
            margin-top: 100px;
        }
    }


    #accessPage {
        #usertypeBtn {
            float: right;
        }
    }

    #pagesPage {
        #pageListPanel {
            table {
                /*td, th {
                    &:nth-child(6) {
                        display: table-cell
                    }
                }*/
            }
        }
    }
}


#ibox {
    .alert {
        margin: 0;
        .btn, hr {
            display: none;
        }
    }
}


@media(min-width: $screen-md) {
    #pagesPage {
        #pageListPanel {
            table {
                /*td, th {
                    &:nth-child(6), &:nth-child(8) {
                        display: table-cell
                    }
                }*/
            }
        }
    }
}

@media(min-width: $screen-lg) {
    #loginPage {
        .row {
            margin-top: 150px;
        }
    }

    #pagesPage {
        #pageListPanel {
            table {
                /* td, th {
                     &:nth-child(5) {
                         display: table-cell;
                         width: 80px;
                         max-width: 80px;
                     }
                 }*/
            }
        }
    }
}