#mediaPage {
    iframe#mediaBrowser {
        width: 100%;
        overflow: hidden;
    }
}

#mediaBrowsePage, #mediaRenamePage, #setParameterPage {
    background: #fff;
    padding-top: $spacer;

    body {
        min-height: fit-content;
    }

    .hide {
        display: none;
    }

    .table {
        margin: 0;
    }

    .alert {
        margin: 20px;
        text-align: center;
    }
}

#alertPage {
    background: #fff;
    padding: $spacer;
}

#accessPage {
    h5 {
        margin-bottom: 0;
    }


    @include media-breakpoint-up(sm) {
        #usertypeBtn {
            float: right;
        }
    }
}

#pagesPage {

    #sectionTable {
        td {
            vertical-align: middle;

            &:nth-child(5), &:nth-child(6) {
                white-space: nowrap;
            }
        }
    }

    .section-info {
        margin: 20px 0;
    }

    #pageListCard {

        #pageListHeader {
            border: 0;
        }

        table {
            margin: 0;

            td, th {
                vertical-align: middle;
                width: 40px;
                text-align: center;

                &.title {
                    width: auto;
                    max-width: 50%;
                    text-align: left;
                }

                &.visibility {
                    padding-left: 0.2rem;
                    padding-right: 0.2rem;
                    width: 30px;
                }

                &.modify, &.id {
                    width: 100px;
                }

                &.modify {
                    text-align: left;
                }
            }
        }

        ul {
            ul {

                td {
                    padding-top: $table-cell-padding-sm;
                    padding-bottom: $table-cell-padding-sm;

                    &.toggle {
                        width: 60px;
                        padding-left: 20px;
                        padding-right: 0.2rem;
                    }
                }

                ul {
                    td {
                        &.toggle {
                            width: 80px;
                            padding-left: 40px;
                        }
                    }

                    ul {
                        td {
                            &.toggle {
                                width: 100px;
                                padding-left: 60px;
                            }
                        }

                        ul {
                            td {
                                &.toggle {
                                    width: 120px;
                                    padding-left: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#ibox {
    .alert {
        margin: 0;
        .btn, hr {
            display: none;
        }
    }
}

#mediaBrowsePage {
    .thumb {
        width: 80px;

        img {
            max-height: 80px;
        }
    }

    .hide {
        display: none;
    }
}