.cke {
    box-shadow: none !important;
    border-color: $gray-light !important;
}

.fraggy-page-module-fix {
    margin: 0 -15px;
    background: #E6E6E6;
    padding: 20px 0 0 0;
    border-top: 15px solid #fff;
}