.cke {
    box-shadow: none !important;
    border-color: $gray-light !important;
}

ul.jsadmin_drag_area {
    border: none !important;
    outline: 2px dashed $table-border-color;
    // background: rgba($brand-secondary, 0.5) !important;
}

.pages_list li {
    margin-bottom: 0 !important;
}