<!-- BEGIN main_block -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Maximum Invalid Login Attemps Exceeded</title>

        <!-- Meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Maximum Invalid Login Attemps Exceeded" />
        <meta name="keywords" content="Maximum Invalid Login Attemps Exceeded" />
        <meta name="author" content="Jonathan Nessier, Neoflow" />

        <!-- Vendor CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.css?v1.3" rel="stylesheet" type="text/css" />
        <link href="../vendor/select2/css/select2.min.css?v1.3" rel="stylesheet" type="text/css" />
        <link href="../vendor/select2/css/select2-bootstrap.css?v1.3" rel="stylesheet" type="text/css" />
        <link href="../vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css?v1.3" rel="stylesheet" type="text/css" />
        <link href="../vendor/font-awesome-4.5/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!-- Theme CSS -->
        <link href="../css/theme-green.css?v1.3" rel="stylesheet" type="text/css" />

        <!-- Vendor Fonts -->
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700%7CRoboto:400,400italic,500,700,900" rel="stylesheet" type="text/css" />

        <!-- Initiliaze vars -->
        <script>
            var WB_URL = '../../..',
                    THEME_URL = '..',
                    ADMIN_URL = '../..';
        </script>

        <!-- Vendor JavaScript -->
        <script src="../vendor/jquery/jquery-2.2.2.min.js?v1.3"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js?v1.3"></script>
        <script src="../vendor/js-cookie/js.cookie-2.1.2.min.js?v1.3"></script>
        <script src="../vendor/select2/js/select2.full.min.js?v1.3"></script>
        <script src="../vendor/moment/moment-with-locales.min.js?v1.3"></script>
        <script src="../vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js?v1.3"></script>
        <script src="../vendor/bootstrap-fileselect/bootstrap-fileselect.min.js?v1.3"></script>

        <!-- Theme JavaScript -->
        <script src="../js/workarounds.js?v1.3"></script>
        <script src="../js/theme.js?v1.3"></script>

    </head>
    <body>
        <div id="wrapper">
            <div id="page-wrapper-fluid">
                <div class="page-wrapper">
                    <div class="container">

                        <div id="loginPage">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1>Excessive Invalid Logins</h1>
                                    You have attempted to login too many times
                                </div><!-- /.col-xs-12 -->
                            </div><!-- /.row -->
                        </div><!-- /#loginPage -->

                    </div><!-- /.container -->
                </div><!-- /.page-wrapper -->
            </div><!-- /#page-wrapper-fluid -->
        </div><!-- /#wrapper -->
    </body>
</html>
<!-- END main_block -->