<!-- BEGIN main_block -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Maximum invalid login attemps exceeded</title>

        <!-- Theme meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Website meta data -->
        <meta name="description" content="Maximum invalid login attemps exceeded" />
        <meta name="keywords" content="Maximum invalid login attemps exceeded" />
        <meta name="author" content="Jonathan Nessier, Neoflow" />

        <!-- Theme favicons -->
        <link href="../images/favicons/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32" />
        <link href="../images/favicons/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16" />
        <link href="../images/favicons/favicon.ico" rel="shortcut icon" />

        <!-- Theme CSS -->
        <script>
            var stylesheetUrl = '../css/green.min.css?v1.7.0';
            if (localStorage.getItem('stylesheetUrl')) {
                stylesheetUrl = localStorage.getItem('stylesheetUrl');
            }
            document.write('<link id="switchable" href="' + stylesheetUrl + '" rel="stylesheet" type="text/css" />');
        </script>

        <noscript>
        <link id="switchable" href="../css/green.min.css?v1.7.0" rel="stylesheet" type="text/css" />
        </noscript>

        <!-- Theme third-party vendor fonts -->
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700%7CRoboto:400,400italic,500,700,900" rel="stylesheet" type="text/css" />

        <!-- Initiliaze vars -->
        <script>
            var WB_URL = '../../..',
                    THEME_URL = '..',
                    ADMIN_URL = '../..';
        </script>

        <!-- Theme jQuery -->
        <script src="../js/jquery.min.js?v1.7.0"></script>

        <!-- WBCE helper JavaScript -->
        <script src="{WB_URL}/include/jquery/jquery-insert.js"></script>
        <script>
            function confirm_link(message, url) {
                if (confirm(message))
                    location.href = url;
            }
        </script>

        <!-- Theme JavaScript -->
        <script src="../js/script.min.js?v1.7.0"></script>

    </head>
    <body>
        <div id="wrapper">
            <div id="page-wrapper-fluid">
                <div class="page-wrapper">
                    <div class="container">

                        <div id="loginPage">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1>Excessive Invalid Logins</h1>
                                    You have attempted to login too many times
                                </div><!-- /.col-xs-12 -->
                            </div><!-- /.row -->
                        </div><!-- /#loginPage -->

                    </div><!-- /.container -->
                </div><!-- /.page-wrapper -->
            </div><!-- /#page-wrapper-fluid -->
        </div><!-- /#wrapper -->
    </body>
</html>
<!-- END main_block -->