// Base
html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: $gray-light;
}

.theme-logo {
    img {
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 125px;
        margin: auto;
    }
}

.theme-footer-logo {
    text-align: center;

    img {
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 50px;
        margin: auto;
    }
}