.panel-default {
    @include panel-links($link-color, $gray-base);

    .panel-title {
        color: $text-color;
    }

    hr {
        border-color: $table-border-color;
    }
}


.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: lighten($gray-dark, 2.5%);
}

nav.navbar.navbar-top {
    box-shadow: none !important;
}

.input-group-addon {
    color: $input-color;
}

body {
    background: $gray-darker;
}

#page-wrapper-sidebar {
    .page-wrapper {
        background: $gray-darker;

        .page-title {
            background: $gray-dark;

            h1 {
                color: $brand-primary;
            }
        }
    }
}

.form-control:not([type="file"]) {
    &:focus {
        background: $input-bg;
        border-color: $gray-darker;
    }
}

.cke {
    border-color: $gray;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: $input-border-focus;
    background: $gray-light;
    color: $text-color;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background: $gray;
    color: $text-color;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background: $gray-dark;
    color: $text-color;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: $text-color;
}