$gray-base: darken($brand-primary, 20%);

$gray-darker: $brand-primary;
$gray-dark: lighten($brand-primary, 10%);
$gray: lighten($brand-primary, 15%);
$gray-light: lighten($brand-primary, 20%);
$gray-lighter: lighten($brand-primary, 60%);
$gray-lightest: lighten($brand-primary, 70%);

$panel-default-border: $gray-dark;
$panel-default-heading-bg: $gray-dark;
$panel-bg: $gray;
$panel-footer-bg: $gray;

$link-color: $gray-lightest;
$link-hover-color: darken($gray-lightest, 15%);

$text-color: $gray-lightest;

$table-border-color: $gray-dark;

$text-muted: $gray-lighter;

$navbar-default-bg: $gray-dark;
$navbar-default-border: $gray-dark;
$navbar-default-link-color: $link-color;
$navbar-default-link-active-bg: darken($navbar-default-bg, 2.5%);
$navbar-default-link-active-color: $link-color;
$navbar-default-link-hover-color: $link-hover-color;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 2.5%);
$navbar-default-color: $text-color;

$input-border: $gray-dark;
$input-border-focus: $gray-darker;
$input-color: $gray-lightest;
$input-bg: $gray-light;
$input-bg-disabled: darken($gray-light, 5%);


$input-group-addon-bg: $gray;

$btn-default-color: #fff;
$btn-default-bg: $gray-light;
$btn-default-border: $gray-dark;