$gray-base: $brand-primary;
$gray-darker: lighten($gray-base, 40%);
$gray-dark: lighten($gray-base, 50%);
$gray: lighten($gray-base, 60%);
$gray-light: lighten($gray-base, 70%);
$gray-lighter: lighten($gray-base, 80%);
$gray-lightest: lighten($gray-base, 90%);

$panel-default-border: darken($gray, 5%);
$panel-default-heading-bg: $gray;
$panel-bg: $gray;
$panel-footer-bg: $gray;

$link-color: darken($brand-primary, 15%);
$link-hover-color: $brand-primary;

$text-color: darken($brand-primary, 15%);

$table-border-color: $gray-dark;

$text-muted: $gray;

$navbar-default-bg: $gray;
$navbar-default-border: darken($gray, 5%);
$navbar-default-link-color: $link-color;
$navbar-default-link-active-bg: darken($gray, 5%);
$navbar-default-link-active-color: $link-color;
$navbar-default-link-hover-color: $link-hover-color;
$navbar-default-link-hover-bg: transparent;
$navbar-default-color: $text-color;

$nav-pills-active-link-hover-bg: $navbar-default-link-active-bg;
$nav-pills-active-link-hover-color: $navbar-default-link-active-color;

$input-border: $gray-dark;
$input-border-focus: darken($gray-darker, 5%);
$input-color: $brand-primary;
$input-bg: $gray-light;
$input-bg-disabled: darken($gray-light, 5%);

$input-group-addon-bg: $gray;

$btn-default-color: $brand-primary;
$btn-default-bg: $gray-dark;
$btn-default-border: $gray-darker;

$dropdown-bg: $gray;
$dropdown-border: $gray-dark;

$bs-datetimepicker-primary-border-color: $gray-darker;
$bs-datetimepicker-btn-hover-bg: $gray-dark;
$bs-datetimepicker-disabled-color: $gray-lighter;
$bs-datetimepicker-alternate-color: $gray-lightest;